db_data
file_storage
user_guis/video_with_text_gui/build/bundle.js
user_guis/video_with_text_gui/build/index.html
node_modules
NLP_module_persistent_data
*.sublime-workspace
*.DS_Store
*.pyc
.ropeproject
*.swp
.vscode
docker-compose.combined.*.yml
docker-compose.override.yml

.local.env
local.env
.local.env.sh
local.env.sh
env.local
env.local.sh
.env.local
.env.local.sh

.local.dev.env
local.dev.env
.dev.local.env
dev.local.env
.local.dev.env.sh
local.dev.env.sh
.dev.local.env.sh
dev.local.env.sh
env.local.dev
env.dev.local
.env.local.dev
.env.dev.local
env.local.dev.sh
env.dev.local.sh
.env.local.dev.sh
.env.dev.local.sh
